.card {
  display: flex;
  min-width: 100%;
  min-height: 86px;
  overflow-x: auto;
}
.card::-webkit-scrollbar {
  display: none;
}
.card--content {
  min-width: 80px;
  height: 86px;
  background-color: #fff;
  text-align: center;
}
.card--content div:first-child {
  height: 18px;
  font-size: 13px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 18px;
  margin: 19px 0px 10px 0px;
}
.card--content div:last-child {
  height: 21px;
  line-height: 21px;
  font-size: 15px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(36, 36, 36, 1);
}
.date-title {
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: rgba(248, 248, 248, 1);
  font-size: 17px;
  font-family: PingFangSC-Medium;
  font-weight: 1000;
  color: rgba(36, 36, 36, 1);
  text-align: center;
}

.date-selected div {
  color: #007aff !important;
}
