$border-style: 1px rgba(233, 233, 233, 1) solid;
.card {
  display: flex;
  min-width: 100%;
  min-height: 54px;
  overflow-x: auto;
  border-top: $border-style;
  border-bottom: $border-style;

  > div{
    min-width: 55px;
    height: 54px;
    background-color: #fff;
    text-align: center;
    border-left: $border-style;
  }

  > div > div:first-child{
    font-size: 13px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(36, 36, 36, 1);
    line-height: 54px;
  }

  > div:last-child {
    border-right: $border-style;
  }
}
.card::-webkit-scrollbar {
  display: none;
}
.time-disable {
  background: #ededed;
  opacity: 0.17489999999999997;
}
.time-selected div {
  background: #e5f2ff !important;
  color: #007aff !important;
  border-left: 0px !important;
}
.time-booked div {
  background: #ededed;
  opacity: 0.17489999999999997;
}