 .drag-scroll-content {
    background-color: #fff;
    min-width: 100%;
    height: 86px;
    display: flex;
    padding: 18px 0px;
  }

  .drag-scroll-item{
    border: 1px #fff solid;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    width: 54px;
    margin: 5px;
    text-align: center;
  }
  
  .drag-scroll-item div:first-child{
    padding: 0px 5px;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
  }

   .drag-scroll-item div:last-child{
     padding: 0px 5px;
    font-size:15px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(36,36,36,1);
  }

  .date-title{
    width:100%;
    height:46px;
    line-height:46px;
    background:rgba(248,248,248,1);
    /* font-size:17px; */
    font-family:PingFangSC-Medium;
    font-weight:1000;
    color:rgba(36,36,36,1);
    text-align: center;
  }