 .drag-scroll-content {
    background-color: #fff;
    min-width: 100%;
    height: 86px;
    display: flex;
    padding: 18px 0px;
  }

  .drag-scroll-item{
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    width: 54px;
    margin: 5px;
    text-align: center;
  }
  
  .drag-scroll-item div:first-child{
    height:18px;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:18px;
  }

   .drag-scroll-item div:last-child{
    height:21px;
    font-size:15px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(36,36,36,1);
    line-height:21px;
  }